<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
		xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="http://www.springframework.org/schema/beans
							http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
							http://code.alibabatech.com/schema/dubbo
        					http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
							
	<dubbo:application name="isuperx-sso-dubbo-server" />
	
	<!-- address可以Zookeeper集群配置，地址可以多个以逗号隔开
		 check注册中心不存在时，是否报错
		 register是否向此注册中心注册服务，如果设为false，将只订阅，不注册，默认true
		 subscribe是否向此注册中心订阅服务，如果设为false，将只注册，不订阅
		 timeout注册中心请求超时时间(毫秒)  -->
	<dubbo:registry address="zookeeper://172.16.9.96:2181" check="false" subscribe="false" />
	
	<!-- interface服务接口的路径
		 ref引用对应的实现类的Bean的ID
		 registry向指定注册中心注册，在多个注册中心时使用，值为<dubbo:registry>的id属性，多个注册中心ID用逗号分隔，如果不想将该服务注册到任何registry，可将值设为N/A
		 register 默认true，该协议的服务是否注册到注册中心
	 -->
	<dubbo:service interface="com.isuperx.dubbo.service.interfaces.IHelloService" ref="helloService" />
</beans>